<!DOCTYPE HTML>
<html ng-app="testbed">
    <head>
        <meta charset="utf-8">
        <title>Ангулярная директива simple-pager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <p>Директива строит разметку согласно канонам Бутстрапа, однако можно использовать и без него, тогда её нужно просто соответственно стилизовать.</p>
        <div ng-controller="ExampleController as exampleCtrl">
            <form>
                <div class="form-group">
                    <label for="prev">Текст «назад»</label>
                    <input type="text" class="form-control" id="prev" ng-model="exampleCtrl.prev">
                </div>
                <div class="form-group">
                    <label for="next">Текст «вперёд»</label>
                    <input type="text" class="form-control" id="next" ng-model="exampleCtrl.next">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="exampleCtrl.showPrevNext"> Включить вперёд/назад
                    </label>
                </div>
                <div class="form-group">
                    <label for="maxPages">Показывать страниц</label>
                    <input type="number" class="form-control" id="maxPages" ng-model="exampleCtrl.maxPages">
                </div>
                <div class="form-group">
                    <label for="totalPages">Всего страниц</label>
                    <input type="number" class="form-control" id="totalPages" ng-model="exampleCtrl.totalPages">
                </div>
                <div class="form-group">
                    <label for="currentPage">Текущая страница</label>
                    <input type="number" class="form-control" id="currentPage" ng-model="exampleCtrl.currentPage">
                </div>
            </form>
            <nav
                simple-pager
                show-prev-next="exampleCtrl.showPrevNext"
                prev="{{exampleCtrl.prev}}"
                next="{{exampleCtrl.next}}"
                max-pages="exampleCtrl.maxPages"
                total-pages="exampleCtrl.totalPages"
                current-page="exampleCtrl.currentPage"
                trigger-fn="exampleCtrl.getItemsPage">
            </nav>
        </div>

        <script src="node_modules/angular/angular.js"></script>
        <script src="dist/simple-pager.js"></script>
        <script src="testbed.js"></script>
    </body>
</html>
